.login {
  background-color: rgb(235, 226, 226);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  background-color: rgb(62 62 62 / 9%);
  box-shadow: -9px 9px 37px -4px rgba(0, 0, 0, 0.75);
  padding: 60px;
}

.password__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.password__visibility {
  outline: none !important;
}

.login__heading {
  display: flex;
  font-size: 25px;
  font-weight: 500;
  color: #311b1bd4;
}

.signup__btn{
  text-decoration: none !important;
  cursor: pointer;
  color: #207cfa;
  font-size: 18px;
}
